<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Listado de Cursos</ion-title>
    
  </ion-toolbar>
  <ion-item>
    <ion-label>Ordenar por:</ion-label>
    <ion-select [value]="selectedOrder" (ionChange)="onOrderChange($event)">
      <ion-select-option value="ascendente">Año (Ascendente)</ion-select-option>
      <ion-select-option value="descendente">Año (Descendente)</ion-select-option>
      </ion-select>
</ion-item>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-card-subtitle slot="end">Total de Cursos: {{cursos.length}}</ion-card-subtitle>
      <ion-item *ngFor="let curso of cursos" (click)="fichaCurso()" [button]="true">
        <ion-avatar slot="start">
         
          <ion-icon size="large" name="library" >
          </ion-icon>
        </ion-avatar>
        <ion-label>
          <h2>{{curso.name}} {{curso.anioInicio}}-{{curso.anioFin}}</h2>
          <p>{{curso.codigo}}</p>
        </ion-label>
        
      
      </ion-item>
    
  </ion-list>
 
</ion-content>