<div class="ion-page">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons (click)="cancel()" slot="start">
        <ion-icon name="arrow-back-outline" size="large"></ion-icon>
      </ion-buttons>
      <ion-title>Ficha Alumno</ion-title>
      <ion-buttons slot="end">
        <ion-button color="danger" >Eliminar
          <ion-icon slot="end" color="danger" name="close-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">fichaAlumno</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="profile-container">
      <ion-avatar class="profile-image">
        <img [src]="getAlumno()?.imagen" alt="avatar" />
      </ion-avatar>
      <ion-card-header class="profile-header">
        <div class="cabecera">
          <div class="texto">
            <ion-card-title
              >{{getAlumno()?.name}} {{getAlumno()?.apellido}}
            </ion-card-title>
            <ion-card-subtitle></ion-card-subtitle>
          </div>
            <app-grafica-circular
            *ngIf="getAlumno() && (getAlumno()?.asistencia ?? 0) >= 0"
            [asistencia]="getAlumno()?.asistencia ?? 0"
            (asistenciaChange)="updateAsistencia($event)"
            ></app-grafica-circular>
        </div>

        <ion-item lines="none" expand="block">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>
            <h4>Último pago</h4>
            <ion-label [color]="getAlumno()?.mca_pago? 'success' :'danger'">{{ultimoPago(getAlumno()?.id!)}}</ion-label>
          </ion-label>         
        </ion-item>
      </ion-card-header>
    </div>

    <ion-item lines="none">
      <ion-list class="datos">
        <ion-item lines="none">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
          <ion-label>
            <h4>Fecha Ingreso</h4>
            <p>15/09/2006</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="time-outline" slot="start"></ion-icon>
          <ion-label>
            <h4>Estado</h4>
            <p>Activo</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="school-outline" slot="start"></ion-icon>
          <ion-label>
            <h4>Clase</h4>
            <p>Clase L-X</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-icon name="time-outline" slot="start"></ion-icon>
          <ion-label>
            <h4>Total Dias</h4>
            <p>150</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-item>

    <ion-card id="pagos" [button]="getAlumno()?.mca_pago? 'false' :'true'" (click)="actionSheetPagos()" expand="block">
      <ion-icon  name="cash-outline" color="success" size="large" slot="start">
      </ion-icon>
      <ion-item lines="none">       
        <ion-icon  name="cash-outline" color="success" size="large" slot="start">
        </ion-icon>
        <ion-card-title>Gestión de Pagos</ion-card-title>
      </ion-item>      
    </ion-card>
    
    <ion-card [button]="getAlumno()?.mca_pago? 'false' :'true'" (click)="actionSheetContacto()" expand="block">
      <ion-item lines="none">
        <ion-icon name="call-outline" size="large" slot="start"></ion-icon>
        <ion-card-title>Información de contacto</ion-card-title>
      </ion-item>     
    </ion-card>

    
    <ion-card  id="logros">
      <ion-item lines="none">
        <ion-icon name="trophy-outline" size="large" slot="start"></ion-icon>
        <ion-card-title>Logros y Desempeños</ion-card-title>
      </ion-item>
      <ion-card-content>
        
      </ion-card-content>
    </ion-card>
     
  </ion-content>
</div>
